<!-- SIDEBAR - START -->
<!-- MAIN MENU - START -->
<perfect-scrollbar class="page-sidebar-wrapper" id="main-menu-wrapper" wheel-propagation="true" suppress-scroll-x="true" min-scrollbar-length="20" menuheight>
    <!-- USER INFO - START -->

    <!-- USER INFO - END -->
    <!-- nav -->
    <nav ui-nav ng-include="'partials/components/leftnav.html'"></nav>
    <!-- nav -->

</perfect-scrollbar>
<!-- MAIN MENU - END -->
<!--  SIDEBAR - END -->
