<!-- list -->
<ul class="wraplist wrapper-menu">

    <li ui-sref-active="active">
        <a ui-sref="app.ui.home" class="nosub">
            <i class="material-icons">dashboard</i>
            <span class="title">Home</span>
        </a>
    </li>

    <li >
        <a ui-sref="app.ui.shoppingcart" class="nosub">
            <i class="material-icons">dashboard</i>
            <span class="title">Shopping Cart</span>
        </a>
    </li>
    <li >
        <a ui-sref=" app.form.wizard" class="nosub">
            <i class="material-icons">dashboard</i>
            <span class="title">Product Detail</span>
        </a>
    </li>



    <li>
        <a ui-sref="app.ui.checkout" class="nosub">
            <i class="material-icons">dashboard</i>
            <span class="title">Checkout</span>
        </a>
    </li>
    <li >
        <a ui-sref="app.ui.profile" class="nosub">
            <i class="material-icons">dashboard</i>
            <span class="title">Profile</span>
        </a>
    </li>
    <li >
        <a ui-sref="app.ui.wizard" class="nosub">
            <i class="material-icons">dashboard</i>
            <span class="title">Create Product</span>
        </a>
    </li>
    <li >
        <a ui-sref="access.login" class="nosub">
            <i class="material-icons">dashboard</i>
            <span class="title">Login</span>
        </a>
    </li>
    <li >
        <a ui-sref="access.register" class="nosub">
            <i class="material-icons">dashboard</i>
            <span class="title">Register</span>
        </a>
    </li>

    <li >
        <a ng-click="mpm()" href="#" class="nosub">
            <i class="material-icons">dashboard</i>
            <span class="title">Payment Home</span>
        </a>
    </li>

    <li >
        <a ui-sref="app.form.categoryupload" class="nosub">
            <i class="material-icons">dashboard</i>
            <span class="title">Create Category</span>
        </a>
    </li>
    <li >
        <a ui-sref="app.ui.airbnb" class="nosub">
            <i class="material-icons">dashboard</i>
            <span class="title">AirBnb</span>
        </a>
    </li>



</ul>
<!-- / list -->
