<!-- list -->
<ul class="wraplist wrapper-menu">
   
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard" class="nosub">
            <i class="material-icons">dashboard</i>
            <span class="title">Dashboard</span>
        </a>
    </li>

                        <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="material-icons">apps</i>
                                <span class="title">APPS</span>
                                <span class="arrow material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a ui-sref="app.mail.list">Mailbox</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.calendar">Calendar</a>
                                </li>
                                <!-- <li ui-sref-active="active">
                                    <a ui-sref="app.widgets">Widgets</a>
                                </li> -->

                            </ul>
                        </li>













    <li>
        <a href class="auto">
            <i class="material-icons">work</i>
            <span class="title">User Interface</span>
            <span class="arrow material-icons">keyboard_arrow_right</span> <!-- <span class="label label-orange">NEW</span> -->
        </a>
        <ul class="wraplist wraplist-sub wraplist wraplist-sub sub-menu dk dk">
            <li class="wraplist-sub-header">
                <a href>User Interface</a>
            </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.typography">Typography</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.progress">Progress Bars</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.modals">Modals</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.icons">Icons</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.sortable">Sortable & Nestable</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.imagecrop">Image cropper</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.tooltips">Tooltips & Popovers</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.buttons">Buttons</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.notifications">Alert Notifications</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.carousel">Carousel Slider</a>
                                </li>
                               <!--  <li ui-sref-active="active">
                                    <a ui-sref="app.ui.navbars">Nav & Dropdowns</a>
                                </li> -->
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.grids">Grids</a>
                                </li>
                                <!-- <li ui-sref-active="active">
                                    <a ui-sref="app.ui.extra">Other</a>
                                </li> -->
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.pagination">Pagination</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.accordion">Accordions & Tabs</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.panels">Section Panels</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.tiles">Tiles</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.breadcrumb">Breadcrumbs</a>
                                </li>
        </ul>
    </li>


                        <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="material-icons">tune</i>
                                <span class="title">Forms</span>
                                <span class="arrow material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.elements">Elements</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.components">Components</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.validation">Validations</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.wizard">Wizard</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.masks">Input Masks</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.editable">Xeditable</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.slider">Slider</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.editors">Editors</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.fileupload">File Upload</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.premade">Pre Made</a>
                                </li>
                            </ul>
                        </li>
                        <li  href class="auto"> 
                            <a href="javascript:;">
                                <i class="material-icons">redeem</i>
                                <span class="title">Pages</span>
                                <span class="arrow material-icons">keyboard_arrow_right</span><!-- <span class="label label-orange">NEW</span> -->
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li class='subgroup'><span>Generic</span></li>

                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.timeline">Timeline</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.invoice">Invoice</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.members">Members</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.search">Search</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.blogs">Blogs</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.pricing">Pricing tables</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.profile">Profile</a>
                                </li>
                                <!-- <li ui-sref-active="active">
                                    <a ui-sref="app.ui.faq">FAQ</a>
                                </li> -->

                                <li class='subgroup'><span>User Access</span></li>
                                <li ui-sref-active="active">
                                    <a ui-sref="access.login">Login</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="access.register">Registration</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="access.forgotpwd">Forgot Password</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="access.lockscreen">Lock Screen</a>
                                </li>

                                <li class='subgroup'><span>Error</span></li>
                                <li ui-sref-active="active">
                                    <a ui-sref="access.404">404</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="access.500">500</a>
                                </li>
                            </ul>
                        </li>

<!--                         <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="fa fa-envelope"></i>
                                <span class="title">Mailbox</span>
                                <span class="arrow material-icons"></span><!-- <span class="label label-orange">4</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a ui-sref="app.mail.list">Inbox</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.mail.compose">Compose</a>
                                </li>
                            </ul>
                        </li> -->
                        <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="material-icons">equalizer</i>
                                <span class="title">Charts</span>
                                <span class="arrow material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.chartjs">Chart JS</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.sparkline">Sparkline</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.flot">Flot</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.morris">Morris</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.rickshaw">Rickshaw</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.charts.easypiechart">PIE & Knobs</a>
                                </li>
                            </ul>
                        </li>
                        <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="material-icons">list</i>
                                <span class="title">Tables</span>
                                <span class="arrow material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a ui-sref="app.tables.basic">Basic</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.tables.data">DataTables</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.tables.footable">Footable</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.tables.smart">Smart</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.tables.uigrid">uiGrid</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.tables.editable">Editable</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.tables.nggrid">ngGrid</a>
                                </li>
                            </ul>
                        </li>
                        <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="material-icons">view_quilt</i>
                                <span class="title">Layouts</span>
                                <span class="arrow material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk">
                                <li ui-sref-active="active">
                                    <a class="active" ui-sref="app.layout.default">Default</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.layout.collapsed">Collapsed Menu</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.layout.chat">Chat Open</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.layout.boxed">Boxed</a>
                                </li>
                            </ul>
                        </li>
                        <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="material-icons">map</i>
                                <span class="title">Maps</span>
                                <span class="arrow material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.vectormaps">Vector</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.googlemapfull">Google</a>
                                </li>
                            </ul>
                        </li>

                        <li href class="auto"> 
                            <a href="javascript:;">
                                <i class="material-icons">filter_list</i>
                                <span class="title">Menu Levels</span>
                                <span class="arrow material-icons">keyboard_arrow_right</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk" >
                                <li ui-sref-active="active">
                                    <a>Level 1.1<span class="arrow material-icons">keyboard_arrow_right</span></a>
                                    <ul class="wraplist wraplist-sub sub-menu dk" >
                                        <li ui-sref-active="active">
                                            <a>Level 2.1</a>
                                        </li>
                                        <li ui-sref-active="active">
                                            <a>Level 2.2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li ui-sref-active="active">
                                    <a>Level 1.2</a>
                                </li>
                                
                            </ul>
                        </li>



</ul>
<!-- / list -->
