.custom_form_radio a{
	height: auto;
    padding: 8px;
    width: 118px;
    background:#fff;
       border: 1px solid #d2d2d2;
       margin-bottom:5px;
 }
.custom_form_radio a.active
{
background:#f18517;
color:#fff;
}
#custumecssid ul.nav.nav-tabs {
    border: 1px solid #d2d2d2;
    border-radius: 6px;
    padding: 1px 4px;
        background-color: #ffffff;
}
#custumecssid .form-wizard li {
    border-radius: 0;
    text-align: center;
    width: 33.3%;
    height:auto;
}

/**********Select2 Css Changes***********/
#custumecssid .form-wizard .chosen-container ul li {
    border-radius: 0;
    text-align: left;
    width: 100%;
    height:auto;
}


#custumecssid .form-wizard li a {
background: transparent none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    box-shadow: 0 0 0 !important;
    display: block;
    height: 70px;
    line-height: 1;
    margin: 3px 0;
    outline: 0 none;
    position: static;
    width: 100%;
}
#custumecssid .form-wizard li.active a {
    background-color: #f18517;
    border-color: #f18517;
     border-radius: 6px;
}
#custumecssid .form-wizard li a .tabhead {
    background-color: transparent;
    color: #777;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    font-size: 18px;
   	 line-height:1.2;
    margin: 0 !important;
    text-align: center;
}
#custumecssid .form-wizard li.active a .tabhead {
	color:#ffffff;
	 line-height:1;
	}
#custumecssid .form-wizard li a::before{

    height: auto;
    margin-left: 0;
    width: 100%;
	}
.icon-location2::before {
    content: "";
}
[class^="icon-"], [class*=" icon-"] {
    font-family: "icomoon";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}
#custumecssid .form-wizard li.active a .material-icons {
    color: #ffffff !important;

}
.content-wrapper{
    max-width: 1200px;
}
#custumecssid .form-wizard li a .material-icons {
  vertical-align: middle;
    font-size: 26px !important;
}
#custumecssid .small-text {
    font-size: 14px;
    margin-top:5px;
}
#custumecssid .form-wizard li.complete a::before{display:none;}
#custumecssid .select-style{
   background-color: #ffffff;
    background-image: url("../img/arrow.png");
    background-position: right 10px center;
    background-repeat: no-repeat;
    border: 1px solid rgb(198, 198, 198);
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
    vertical-align: top;
    width: 48%;
	}
	#custumecssid .select-style select {
    border: 0 none;
    margin: 0;
    width: 100%;
  -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
}
	#custumecssid .select-style select::-ms-expand{
    display: none;
}
.chosdate {
    color: #333333;
    margin: 10px 0;
    text-align: center;
    font-size:17px;
}
.date-picker thead .btn {
    color: #f93;
    font-family: "Avenir LT Std 35 Light";
    font-size: 18px;
}
#custumecssid th .btn.btn-default.btn-sm .ng-binding, #custumecssid th .btn.btn-default.btn-sm.pull-left, #custumecssid th .btn.btn-default.btn-sm.pull-right {
    color: #f93;
}
#custumecssid .well {
    background: transparent none repeat scroll 0 0;
    border-color: transparent;
}
#custumecssid table .btn, #custumecssid table .btn.btn-default {
    background: transparent none repeat scroll 0 0;
}
#custumecssid .btn-danger, #custumecssid .btn-default, #custumecssid .btn-info, #custumecssid .btn-primary, #custumecssid .btn-success, #custumecssid .btn-warning{box-shadow:0 0 0; border-radius:0;}
#custumecssid th .ng-binding {
     color: #333333;
}
#custumecssid td .btn.btn-default.btn-sm.btn-info.active {
    font-weight: bold;
}
.current_datestyl {
    color: rgb(255, 153, 51);
    font-size: 80px;
    margin-top: 50px;
        text-align:center;
}
.current_daystyl{
	  color: rgb(255, 153, 51);
    font-size: 20px;
    text-transform: uppercase;
    text-align:center;


}
.select-box-area {
    margin: 0 auto 0 12px;
    width: 99%;


}

.stepone .custom_form_radio .btn:hover {	
    background: rgb(255, 153, 51);
    color: #ffffff;
    outline: medium none;
}
.steptwo .custom_form_radio .btn:hover {
    border: 1px solid rgb(255, 153, 51);
    color: #333333;
    outline: medium none;

}
	.default_selectbtn{
		background-color: rgb(255, 153, 51) !important;
    color: #ffffff;
    border-color:rgb(255, 153, 51) !important;
		}
		#custumecssid .input-group-btn-vertical .btn.btn-default.bootstrap-touchspin-up {
   height: 40px;
    right: 0;
    position: absolute;
    width: 45px;
    z-index: 2;
     background-color: rgb(255, 153, 51) !important;
    color: #ffffff;
   
}
#custumecssid .input-group-btn-vertical .btn.btn-default.bootstrap-touchspin-down:hover{
	 background-color: rgb(255, 153, 51) !important;
    color: #ffffff;
	}
#custumecssid .input-group-btn-vertical .btn.btn-default.bootstrap-touchspin-down {
        border: 1px solid #d2d2d2;
    height: 40px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 45px;
    z-index: 2;
   background-color: #ffffff !important;
}
/*#custumecssid .bootstrap-touchspin .input-group-btn-vertical {
  background-color: transparent;
  display: block;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}*/
#custumecssid .bootstrap-touchspin .input-group-btn-vertical {
  display: block !important;
    width: 100% !important;
    height: 100%;
    float: left;
    left: 0;
    right: 0;
    position: absolute;
    }
#custumecssid .input-group.bootstrap-touchspin input.form-control {
    text-align: center;
}
#custumecssid .input-group.bootstrap-touchspin input.form-control {
    border: 1px solid #d2d2d2;
        text-align: center;
         height: 40px;
}
#custumecssid .bootstrap-touchspin .input-group-btn-vertical i {
left: 0 !important;
    text-align: center;
    top: 15px !important;
    width: 95%;
}
.cdbl-slider {
    background-color: #d2d2d2;
    border: 0 none;
    height: 5px;
    margin: 0 auto;
    max-width: 200px;
    width:100%;
}
.pricesec {
    color: #333333;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 50px;
    text-align: center;
}
.pricesecvalue.ng-binding {
    color: #f93;
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
}
#custumecssid .ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.6em;
    top: -0.45em;
}
.rightdiv{
	 border: 1px solid #d2d2d2;
    float: right;
    min-height: 461px;
    margin-top: 55px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    width: 35%;
	}
	.pincenter{display: table;
    margin: 10px auto;}
    .choostext {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 10px;
  text-align: center;
}
.Step_one_next {
    margin: 10px 0;
    text-align: right;
}
.padd15{padding: 15px;}
.leftsecst{background: rgb(245, 245, 245) none repeat scroll 0% 0%; min-height: 450px; padding: 10px; margin-top: 55px; width: 65%; float:left}
.chyd{text-align: center;color: #333333; margin-bottom:10px;}
.stul11{display:inline-block;float: left;}
.mr60{margin-top: 60px;}
.leftcls{float:left;}
.styl12{margin-left: 20px; font-size: 18px; margin-right: 15px; vertical-align: middle;}
.step2btn {
    display: block !important;
    overflow: hidden;
    width: 100%;
}
.step2btn a {
    display: inline-block;
    margin: 0 15px !important;
    width: 45%;
}
.step2rightbtn {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 32.2%;
}
.custom_form_radio.step2rightbtn a{ width:100%;}
.rightdiv.step2sec{ min-height:451px;}
.btn.btn-primary.back-btn {
    background-color: #ffffff;
    border: 1px solid orange;
    color: #333333;
}
.btn.btn-primary.back-btn:hover {
    background-color: rgb(255, 153, 51) !important;
    border: 1px solid orange;
    color: #ffffff;
}
.default_selectbtn .material-icons {
  vertical-align: middle;
}
.color-darkgray{ color:#333333;}
textarea.textareastyle {

  background-color: #ffffff;
  border: 1px solid #d2d2d2 !important;
  height: 220px;
  padding: 10px;
}
.yourtripstyl {
  color: #f93;
  font-size: 24px;
  margin: 20px 0;
  text-align: center;
}
.font45 .material-icons {
       font-size: 45px !important;
}
.font30 {
       font-size: 16px !important;
}
.paddingzero{ padding:0;}
.border-boxall{ border:1px solid #d2d2d2;}
.border-boxall .yourtripstyl{margin:5px 0;}
.rightbtnst {
    display: table;
    margin: 0 auto;
}
@media only screen and (max-width: 1199px){
.custom_form_radio a {
 
    width: 100%;
}
 .stul11 {
    display: block;
    float: none;
    margin: 0 auto;
    width: 310px;
}
.mr60.popups1 .leftcls {
    display: block;
    float: none;
    margin: 10px 0;
    text-align: center;
}
.btn-flexy{
width:80%;
margin:0 auto;
display: table;

}
.select-box-area {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
#custumecssid .select-style{
 margin: 10px auto;
    width: 80%;
}
.step2btn a{width:40%;}
.step2rightbtn{ width: 100%;}
.col-sm-6.info-lift-overview {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
}
}
@media only screen and (max-width: 992px){

.step2rightbtn{ width: 30%;}
.leftsecst, .rightdiv {

    float: none;
       width: 100%;
}

}
@media only screen and (max-width: 767px){
#custumecssid .form-wizard li{
width:100%;
}
.col-sm-6.info-lift-overview {
    text-align: center;
}
.box .panel_header .title{ height:auto;}
section .content-body {
  overflow-x: hidden;
  padding: 10px;
}
.stul11{ width:190px;}
.stul11 .btn.btn-sm, .btn-sm, .stul11 .btn-group-sm > .btn {
    font-size: 13px;
    padding: 4px 5px;
}
.box .panel_header .title::after{ display:none;}
.step2btn a{ width:100%; margin:5px 0px !important;}
.step2rightbtn {
    width: 100%;
}
.col-md-6.text-left.btn-group.margin-top-10.custom_form_radio, .col-md-6.text-right.margin-top-10.custom_form_radio, .Step_one_next {
    text-align: center;
    display: block;
}
.btn.btn-primary.back-btn{
float:none;
}
.border-boxall {
        margin-bottom: 20px;
}

}
