<div ng-hide="subCatName" ng-contrller="categoryController">
  <h1>{{cName}}</h1>
  <p>Sub Categories</p>
  <ul>
    <li ng-repeat="category in categories">
      <a href="#">{{category.catName}}</a>
      <div>
        <h4>Products</h4>
        <ul>
          <li ng-repeat="product in products">
            <a href="">{{product.name}}</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<div ng-show="subCatName" ng-contrller="subCategoryController">
  <h1>{{cName}}</h1>
  <h2>{{subCatName}}</h2>
        <h4>Products</h4>
        <ul>
          <li ng-repeat="product in products">
            <a href="">{{product.name}}</a>
          </li>
        </ul>
</div>