
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'/>
      <!-- font-awesome CSS -->
    
    <link rel="stylesheet" type="text/css" href="../bower_components/font-awesome/css/font-awesome.min.css"/>
    <!-- fancybox CSS -->
    <link rel="stylesheet" href="../bower_components/fancyBox/source/jquery.fancybox.css"/>
    <!-- slider revolution css settings -->
    <link rel="stylesheet" type="text/css" href="../assets/js/vendors/rs-plugin/css/settings.css" media="screen" />
    <!-- animate CSS -->
    <link rel="stylesheet" href="../bower_components/animate.css/animate.css"/>
    <!-- jquery-ui-->
    <link rel="stylesheet" href="../bower_components/jquery-ui/themes/base/jquery-ui.css"/>
    <!-- main CSS -->
    <link rel="stylesheet" href="/app/assets/styles/main.css"/>
    <!-- style CSS -->
<link rel="stylesheet" href="/app/css/style.css"/>
    <!-- responsive CSS -->
    <!-- <link rel="stylesheet" href="/css/responsive.css"/> -->

<div ng-controller="Product_detailCtrl">
<div class="shop-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-12 col-lg-12">
                <div class="back-to-category">
                    Listed in Category:
                    <a title="Destop &amp; Laptop" class="product-details" href="#">Destop &amp; Laptop</a>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-sm-12 col-md-5 col-lg-5">
                        <div class="product-view">
                            <div class="full-product-img" >
                                <div class="tab-content">

                                    <div ng-repeat="images in basic_images" id="{{images.id}}" class="tab-pane fade {{images.active}}">
                                        <img class="zoom_01" ng-src='{{images.zoom_images}}' data-zoom-image="{{images.zoom_images}}" alt=""/>
                                    </div>

                                </div>
                            </div>
                            <div class="small-products" >
                                <ul class="nav nav-tabs">
                                    <li ng-repeat="images in basic_images_small" class="{{images.active}}"><a data-toggle="tab" href="{{images.href}}">
                                        <img ng-src="{{images.imageUrl}}" alt=""/>
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7 col-lg-7">
                        <div class="single-product-info sp-info-area">
                            <div class="product-name"><h1>Et Ultrices Posuere</h1></div>
                            <div class="product-rating">
                                <div title="Rating: 3/5" class="ratingbox">
                                    <div class="stars-orange" style="width:45px"></div>
                                </div>
                                <span class="amount"> {{ basic.review }} Review(s) </span>
                                <p class="in-stock">
                                    Availability:<span>In Stock</span>
                                </p>
                            </div>
                            <div class="all-prices">
                                <span class="sp-price price-lessprice">${{ basic.sale }}</span>
                                <span class="sp-price main-price">${{ basic.price }}</span>
                                <p class="sku">Sku: <span class="color">F10</span></p>
                            </div>
                            <div class="singl-share">
                                <a href="#"><img src="img/single-share.png" alt=""/></a>
                            </div>
                            <div class="product-short-description">
                                Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
                            </div>
                            <div class="single-icons">
                                <ul>
                                    <li><a data-toggle="tooltip" data-placement="top" title="Add Favorite" class="black-tooltip" href="#"><i class="fa fa-heart"></i> </a></li>
                                    <li><a data-toggle="tooltip" data-placement="top" title="Add to compare" class="black-tooltip" href="#"><i class="fa fa-refresh"></i></a></li>
                                    <li><a data-toggle="tooltip" data-placement="top" title="Print" class="black-tooltip"  href="#"><i class="fa fa-print"></i></a></li>
                                    <li><a data-toggle="tooltip" data-placement="top" title="Email" class="black-tooltip"  href="#"><i class="fa fa-envelope-o"></i></a></li>
                                </ul>
                            </div>
                            <div class="s-product-fields">
                                <div class="s-product-fields-l">
                                    <span><strong>color</strong></span>
                                    <div class="select-wrapper">
                                        <select class="select-nksearch">
                                            <option selected="selected">Blue No additional charge</option>
                                            <option>Yellow +$1.56</option>
                                            <option>Red +$3.50</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="s-product-fields-l s-product-fields-r">
                                    <span><strong>size</strong></span>
                                    <div class="select-wrapper">
                                        <select class="select-nksearch">
                                            <option selected="selected">M No additional charge</option>
                                            <option>L +$12.42</option>
                                            <option>XL +$14.35</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="product-quantity">
                                <div class="numbers-row">
                                    <input type="text" value="2" name="#"/>
                                </div>
                                <div class="s-poraduct-botton">
                                    <input type="submit" value="Add to Cart"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="reviews-areas">
                            <div class="reviw-title">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#description">Full Description</a></li>
                                    <li><a data-toggle="tab" href="#review">Add Your Review</a></li>
                                    <li><a data-toggle="tab" href="#infomation">Product Infomation</a></li>
                                </ul>
                            </div>
                            <div class="revew-content-area">
                                <div class="tab-content">
                                    <div id="description" class="tab-pane fade in active">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor.</p>
                                        <p>Ipsum metus feugiat sem, quis fermentum turpis eros eget velit. Donec ac tempus ante. Fusce ultricies massa massa. Fusce aliquam, purus eget sagittis vulputate, sapien libero hendrerit est, sed commodo augue nisi non neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor, lorem et placerat vestibulum, metus nisi posuere nisl, in accumsan elit odio quis mi.</p>
                                        <p>Cras neque metus, consequat et blandit et, luctus a nunc. Etiam gravida vehicula tellus, in imperdiet ligula euismod eget. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam erat mi, rutrum at sollicitudin rhoncus, ultricies posuere erat. Duis convallis, arcu nec aliquam consequat, purus felis vehicula felis, a dapibus enim lorem nec augue. Nunc facilisis sagittis ullamcorper.</p>
                                        <p>Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Vivamus adipiscing nisl ut dolor dignissim semper. Nulla luctus malesuada tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer enim purus, posuere at ultricies eu, placerat a felis. Suspendisse aliquet urna pretium eros convallis interdum. Quisque in arcu id dui vulputate mollis eget non arcu. Aenean et nulla purus. Mauris vel tellus non nunc mattis lobortis.</p>
                                    </div>
                                    <div id="review" class="tab-pane fade">
                                        <div class="customer-reviews">
                                            <h3 class="title-list-reviews">Reviews</h3>
                                            <div class="list-reviews">
                                                <div class="review-item normal">
                                                    <b class="author">Trung Jayce</b>
                                                        <span class="vote">
                                                            <span style="display:inline-block;width:70px;" class="vmicon ratingbox" title="Rating: 4/5">
                                                                 <span style="width:56px" class="stars-orange"></span>
                                                            </span>
                                                        </span>
                                                    <span class="date">Wednesday, 15 July 2015</span>
                                                    <p class="info">Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="infomation" class="tab-pane fade">
                                        <div class="product-infomation">
                                            <ul class="list-info">
                                                <li><strong>Weight</strong> 10.00 KG</li>
                                                <li><strong>Length</strong> 10.00 M</li>
                                                <li><strong>Width</strong> 5.00</li>
                                                <li><strong>Height</strong> 5.00</li>
                                                <li><strong>Packaging</strong> 5.00 KG</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rp-area">
                            <div class="all-p-title">
                                <h3>Related Products</h3>
                            </div>
                            <div class="singl-shop ">
                                <div class="row">
                                    <!-- SP-SINGLE Product -->
                                    <div ng-repeat="item in related_product" class="col-sm-6 col-md-3 col-lg-3">
                                        <div class="sp-single">
                                            <div class="sp-img-area">
                                                <img alt="" ng-src="{{ item.first_img }}" class="first-img"/>
                                                <img alt="" ng-src="{{ item.hover_img }}" class="hover-img"/>
                                                <div class="quick-view-detail">
                                                    <a href="#">View Detail</a>
                                                </div>
                                                <div class="sp-label-pro sp-label-pro-hot">Hot!</div>
                                            </div>
                                            <div class="sp-info-area">
                                                <h2 class="product-name"><a href="#" title="Dolor Dignissim Semper">{{item.name}} </a></h2>
                                                <div class="product-rating">
                                                    <div title=" Rating: 3/5" class="ratingbox">
                                                        <div class="stars-orange" style="width:50px"></div>
                                                    </div>
                                                </div>
                                                <p class="all-prices">
                                                    <span class="sp-price main-price">${{item.price}}</span>
                                                </p>
                                                <div class="sp-button">
                                                    <div class="s-button">
                                                        <a class="black-tooltip add-to-cart all_src_icon" title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="add to cart"> <i class="fa fa-shopping-cart"></i> </a>
                                                    </div>
                                                    <div class="s-button">
                                                        <a class="black-tooltip add-to-cart all_src_icon" title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="add favorite"> <i class="fa fa-heart-o"></i> </a>
                                                    </div>
                                                    <div class="s-button last-b ">
                                                        <a class="black-tooltip add-to-cart all_src_icon" title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="view detail"> <i class="fa fa-eye"></i> </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jquery js -->
<!-- price_slider js -->
<script src="js/price_slider.js"></script>

<!-- owl.carousel.min js -->
<script src="js/owl.carousel.min.js"></script>
<!-- slicknav js -->
<script src="js/jquery.mobilemenu.js"></script>
<!-- parallax js -->
<script src="js/parallax.js"></script>
<!-- treeview js -->
<script src="js/jquery.treeview.js"></script>
<!-- jquery mixitup js -->
<script src="js/jquery.mixitup.min.js"></script>
<!-- jquery.scrollUp js -->
<script src="js/jquery.scrollUp.min.js"></script>
<!-- jquerye levatezoom js -->
<script src="js/jquery.elevatezoom.js"></script>
<!-- jquerye countdown js -->
<script src="js/countdown.js"></script>
<!-- jquery fancybox js -->
<script src="js/jquery.fancybox.pack.js"></script>
<!-- jquery bx-slider js -->
<script src="js/bx-slider.min.js"></script>
<!-- jquery.easing js -->
<script src="js/jquery.easing.1.3.min.js"></script>
<!-- wow js -->


<!-- plugins js -->
<script src="js/plugins.js"></script>
<!-- main js -->


</div>

