<script type="text/javascript" src="js/CustomGoogleMapMarker.js"></script>
<div id="airbnPage">
    <div class="col-md-8 col-sm-8 col-xs-12 block-images">
        <div class='content-wrapper'>
            <section class="box ">
                <header class="panel_header">
                </header>
                <div class="content-body">
                    <button id="btnMoreFilters" ng-click="showFilters('true')" ng-controller="AirbnbCtrl">More Filters
                    </button>
                    <div id="filters" class="display-none" ng-controller="AirbnbCtrl">
                        <div class="row">
                            <label class="col-md-2 col-sm-3 col-sx-3">Size</label>
                            <select class="col-md-3 col-sm-3 col-sx-3">
                                <option>Bedrooms</option>
                                <option>Bedroom1</option>
                                <option>Bedroom2</option>
                                <option>Bedroom3</option>
                            </select>
                            <select class="col-md-3 col-sm-3 col-sx-3">
                                <option>Bathrooms</option>
                                <option>0 Bathroom</option>
                                <option>0.5 Bathroom</option>
                                <option>1 Bathroom</option>
                            </select>
                            <select class="col-md-4 col-sm-3 col-sx-3">
                                <option>Beds</option>
                                <option>Bed1</option>
                                <option>Bed2</option>
                                <option>Bd3</option>
                            </select>
                        </div>
						  <div class="row" ng-repeat="filter in filters">
                            <label class="col-md-2 col-sm-3 col-sm-3">{{filter.col}}</label>

                            <div class="col-md-3 col-sm-3 col-sm-3">
                                <input type="checkbox"/>
                                <label>{{filter.col1}}</label>
                            </div>
                            <div class="col-md-3 col-sm-4 col-sm-4">
                                <input type="checkbox"/>
                                <label>{{filter.col2}}</label>
                            </div>
							 <div class="col-md-3 col-sm-4 col-sm-4">
							    <input type="checkbox"/>
                                <label>{{filter.col3}}</label>
                            </div>
							 <div ng-if="!equals({}, filter.showMore)">
								<i class="arrows icon-chevron-up col-md-6 col-sm-4 col-sm-4 display-none"></i>
                                <i class="arrows icon-chevron-down col-md-6 col-sm-4 col-sm-4"></i>
							  </div>
							  
							<div class="show-more display-none">
							 <div class="multiple-options" ng-repeat="options in filter.showMore">
							   <label class="col-md-2 col-sm-3 col-sm-3"></label>

							   <div class="col-md-3 col-sm-3 col-sm-3">
                                <input type="checkbox"/>
                                <label>{{options.col1}}</label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-sm-3">
                                <input type="checkbox"/>
                                <label>{{options.col1}}</label>
                            </div>
                            <div class="col-md-4 col-sm-3 col-sm-3">
                                <input type="checkbox"/>
                                <label>{{options.col1}}</label>
								
                            </div>
							</div>
							</div>
                        </div>
                   
                      
                        <div id="btn-filter">
                            <button class="btn-filter apply-filter">Apply filters</button>
                            <button class="btn-filter cancel" ng-click="showFilters('false')">Cancel</button>
                        </div>
                    </div>
                    <div class="row" ng-controller="AirbnbCtrl">
                        <div class="col-md-6 col-sm-6 col-xs-12 carousel-sg" ng-repeat="slide in airbnbSliders">
                            <div set-ng-animate="false">
                                <carousel interval="false">
                                    <slide ng-repeat="image in slide.imagesSlider" active="image.active">
                                        <img ng-src="{{image.image}}" style="margin:auto;">

                                    </slide>
                                    <div class="icon-heart"><i class="fa fa-heart-o icon-white"></i></div>
                                    <div class="icon-heart"><i class="fa fa-heart icon-black"></i></div>

                                </carousel>

                            </div>
                            <div class="panel-box">
							    <img src="{{slide.smallImage}}" class="small-image">

                                <div class="price-box">
                                    <span class="currency-sign">$</span>
                                    <span class="price-airbnb">89</span>
                                    <span class="currency">AUD</span>
                                    <span class="per-night">Per night</span>
                                </div>
                                <div class="text-under-image">
                                    <span ><a href="">{{slide.title}} </a> </span><br>
                                        <span class="floatleft">{{slide.description}} </span>
                                        <li class="floatleft">
                                            <span class="glyphicon glyphicon-star"
                                                                    style="color: #F37826"></span>
                                            <span class="glyphicon glyphicon-star"
                                                         style="color: #F37826"></span>
                                            <span class="glyphicon glyphicon-star"
                                                         style="color: #F37826"></span>
                                            <span class="glyphicon glyphicon-star"
                                                         style="color: #F37826"></span>
                                            <span class="glyphicon glyphicon-star"
                                                         style="color: #F37826"></span>
                                        </li>
                                        <li> {{slide.review}}</li>
                                    </div>
                            </div>
                        </div>

                    </div>
            </section>
        </div>


    </div>
    <div class="col-md-4 col-sm-4 hidden-xs google-maps">
        <div id="map-canvas">
        </div>
    </div>

</div>



