
    <div class="modal-header">
        <h3 class="modal-title">Sign In</h3>
    </div>
    <div class="modal-body">
        <form name="form" class="form-validation">
            <div class="text-danger text-center message" ng-show="authError">
                {{authError}}
            </div>
            <div class="input-group" inputgroup>
                <span class="input-group-addon">
            <span class="arrow"></span>
                <i class="fa fa-envelope"></i>
                </span>
                <input type="text" name="j_username" id="user_login" class="form-control" placeholder="Your Email" ng-model="user.j_username" required/>
            </div>
            <br>
            <div class="input-group" inputgroup>
                <span class="input-group-addon">
                <span class="arrow"></span>
                <i class="fa fa-lock"></i>
                </span>
                <input type="password" name="j_password" id="user_password" class="form-control" ng-model="user.j_password" placeholder="Your Password" required/>
            </div>
            <br>
            <div class="input-group forgetmenot" inputgroup>

                <label class="icheck form-label " for="remember-me">
                    <input type="checkbox" value="forever" name="remember-me" checked id="remember-me">
                    <i></i> Remember me
                </label>          
                </div>
            <br>
            <div class="input-group" inputgroup>
                <div class="">
                    <button type="submit" ng-click="login()" ng-disabled='form.$invalid' class="btn btn-primary">Sign In</button>                    
                </div>
            </div>
        </form>
    </div>

