<style>.space20{height:20px;}select{border:1px solid silver;height:42px;}  </style>

<!-- Google Webfont -->
<link href='http://fonts.googleapis.com/css?family=Raleway:400,200,100,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:400,100,300,300italic,700,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<!-- CSS -->
<link rel="stylesheet" href="assets/js/vendors/isotope/isotope.css">
<link rel="stylesheet" href="assets/js/vendors/slick/slick.css">
<!-- <link rel="stylesheet" href="../assets/js/vendors/rs-plugin/css/settings.css"> -->
<link rel="stylesheet" href="assets/js/vendors/select/jquery.selectBoxIt.css">
<link rel="stylesheet" href="assets/css/subscribe-better.css">
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/ui-lightness/jquery-ui.css">
<link rel="stylesheet" href="app/css/style.css"/>

<div class="body">

    <div class="space20"></div>

    <!-- MAIN CONTENT -->
    <div class="shop-single shopping-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12"  >
                    <table class="cart-table"  ng-controller="ShoppingcartCtrl">

                        <thead>
                            <tr>
                                <th>Remove</th>
                                <th>Product Image</th>
                                <th>Product Name</th>

                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="product in shoppingcart">
                                <td><i class="fa fa-trash-o"></i></td>
                                <td><img ng-src="{{product.image}}" class="img-responsive" alt=""/></td>
                                <td>
                                    <h4><a href="#">{{product.product_name}}</a></h4>
                                    <p>Size: {{product.size}}</p>
                                    <p>Color: {{product.color}}</p>
                                </td>

                                <td>
                                    <select>
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="item-price">$ {{product.unit_price}}</div>
                                </td>
                                <td>
                                    <div class="item-price">$ {{product.subtotal}}</div>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                    <div class="table-btn">
                        <a href="#" class="btn-black pull-left">Continue Shopping</a>
                        <a href="#" class="btn-black pull-right">Update Shopping Cart</a>
                    </div>
                    <div class="clearfix space20"></div>
                    <div class="row shipping-info-wrap">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="shipping">
                                <h2>Estimate Shipping and Tax</h2>
                                <div class="shipping-form">
                                    <form id="shipping-zip-form">
                                        <p>Enter your destination to get a shipping estimate.</p>
                                        <ul class="form-list">
                                            <li>
                                                <label class="required"><em>*</em>Country</label>
                                                <input class="input-text" type="text">
                                            </li>
                                            <li>
                                                <label>State/Province</label>
                                                <input class="input-text" type="text">
                                            </li>
                                            <li>
                                                <label>Zip/Postal Code</label>
                                                <input class="input-text" type="text">
                                            </li>
                                        </ul>
                                        <div class="buttons-set">
                                            <button type="button" class="btn-black"><span><span>Get a Quote</span></span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <form id="discount-coupon-form">
                                <div class="discount">
                                    <h2>Discount Codes</h2>
                                    <div class="form-list">
                                        <label for="coupon_code">Enter your coupon code if you have one.</label>
                                        <input name="remove" id="remove-coupone" value="0" type="hidden">
                                        <div class="input-box">
                                            <input class="input-text" id="coupon_code" name="coupon_code" value="">
                                        </div>
                                        <div class="buttons-set">
                                            <button type="button" title="Apply Coupon" class="btn-black"><span><span>Apply Coupon</span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="totals">
                                <table id="shopping-cart-totals-table">
                                    <tfoot>
                                        <tr>
                                            <td style="" class="a-right" colspan="1">
                                                <strong>Grand Total</strong>
                                            </td>
                                            <td style="" class="a-right">
                                                <strong><span class="price">$1000.00</span></strong>
                                            </td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td style="" class="a-right" colspan="1">
                                                Subtotal
                                            </td>
                                            <td style="" class="a-right">
                                                <span class="price">$1000.00</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul class="checkout-types">
                                    <li class="space10"><button type="button" class="btn-color">Proceed to checkout</button></li>
                                    <li><a href="#">Checkout with Multiple Addresses</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="space40"></div>
                    <div class="row">
                        <div class="col-md-12" ng-controller="ShoppingcartCtrl">
                            <span class="heading-small">YOU MAY BE INTERESTED IN THE FOLLOWING ITEM(S)</span>
                            <div class="space30"></div>
                            <div class="product-carousel3" >

                                <div class="pc-wrap" ng-repeat="product in shoppingcart">
                                    <div class="product-item">
                                        <div class="item-thumb">
                                            <img ng-src="{{product.image}}" class="img-responsive" alt=""/>
                                            <div class="overlay-rmore fa fa-search quickview" data-toggle="modal" data-target="#myModal"></div>
                                            <div class="product-overlay">
                                                <a href="#" class="addcart fa fa-shopping-cart"></a>
                                                <a href="#" class="compare fa fa-signal"></a>
                                                <a href="#" class="likeitem fa fa-heart-o"></a>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h4 class="product-title"><a href="#">{{product.product_name}}</a></h4>
                                            <span class="product-price">${{product.unit_price}} <em>- Pre order</em></span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix space20"></div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            <div class="row">
                <div class="col-md-5" ng-controller="ShoppingcartCtrl">
                    <div class="ps-slider">
                        <div ng-repeat="product in shoppingcart" class="ps-img{{product.id}}">
                            <img ng-src="{{product.image}}" alt="">
                        </div>
                    </div>
                    <div class="ps-slider-nav">
                        <ul>
                            <li ng-repeat="product in shoppingcart" id="ps-img{{product.id}}"><img ng-src="{{product.image}}" class="img-responsive" alt=""></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="product-single">
                        <div class="ps-header">
                            <span class="badge offer">-50%</span>
                            <h3>Product fashion</h3>
                            <div class="ratings-wrap">
                                <div class="ratings">
                                    <span class="act fa fa-star"></span>
                                    <span class="act fa fa-star"></span>
                                    <span class="act fa fa-star"></span>
                                    <span class="act fa fa-star"></span>
                                    <span class="act fa fa-star"></span>
                                </div>
                                <em>(6 reviews)</em>
                            </div>
                            <div class="ps-price"><span>$ 200.00</span> $ 99.00</div>
                        </div>

                        <div class="ps-stock">
                            Available: <a href="#">In Stock</a>
                        </div>
                        <div class="sep"></div>
                        <div class="ps-color">
                            <p>Color<span>*</span></p>
                            <a class="black" href="#" onclick="return false;"></a>
                            <a class="red" href="#" onclick="return false;"></a>
                            <a class="yellow" href="#" onclick="return false;"></a>
                            <a class="darkgrey" href="#" onclick="return false;"></a>
                            <a class="litebrown" href="#" onclick="return false;"></a>
                        </div>
                        <div class="space10"></div>
                        <div class="row select-wraps">
                            <div class="col-md-7">
                                <p>Size<span>*</span></p>
                                <select>
                                    <option>XL</option>
                                    <option>XXL</option>
                                    <option>XXXL</option>
                                </select>
                            </div>
                            <div class="col-md-5">
                                <p>Quantity<span>*</span></p>
                                <select>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="space20"></div>
                        <div class="share">
                            <span>
                                <a href="#" class="fa fa-heart-o" onclick="return false;"></a>
                                <a href="#" class="fa fa-signal" onclick="return false;"></a>
                                <a href="#" class="fa fa-envelope-o" onclick="return false;"></a>
                            </span>
                            <div class="addthis_native_toolbox"></div>
                        </div>
                        <div class="space20"></div>
                        <div class="sep"></div>
                        <a class="btn-color" href="#">Add to Bag</a>
                        <a class="btn-black" href="#">Go to Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="backtotop"><i class="fa fa-chevron-up"></i></div>

<!-- ADDTHIS -->
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-557a95e76b3e51d9" async></script>
<script type="text/javascript">
	// Call this function once the rest of the document is loaded
	function loadAddThis() {
		addthis.init()
	}
</script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/bs-navbar.js"></script>
<script src="assets/js/vendors/isotope/isotope.pkgd.js"></script>
<script src="assets/js/vendors/slick/slick.min.js"></script>
<script src="assets/js/vendors/tweets/tweecool.min.js"></script>
<script src="assets/js/vendors/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="assets/js/vendors/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="assets/js/jquery.sticky.js"></script>
<script src="assets/js/jquery.subscribe-better.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

<script>
var interval = setInterval( function(){

    $.getScript( "assets/js/main.js", function( data, textStatus, jqxhr ) {

    });

    clearInterval(interval);
},1000);

</script>

<style>
.modal-backdrop{
    z-index:100!important;
}
</style>
