    <script src="js/controllers/wizard.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/lib/stroke-7/style.css"/>
    <link rel="stylesheet" type="text/css" href="assets/lib/jquery.nanoscroller/css/nanoscroller.css"/><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="assets/lib/select2/css/select2.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/lib/bootstrap-slider/css/bootstrap-slider.css"/>
    <link rel="stylesheet" type="text/css" href="../../bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/lib/summernote/summernote.css"/>
    <link rel="stylesheet" href="assets/css/style_wizard.css" type="text/css"/>

    <div class="am-wrapper">


      <div class="am-content">

        <div class="main-content">
          <div class="row wizard-row">
            <div class="col-md-12 fuelux">
              <!-- Message -->
              <div class="row" data-ng-if="message != false">
                <div class="com-md-12 text-center alert {{messageClass}}">
                  {{message}}
                </div>
              </div>



              <div class="block-wizard panel panel-default" data-ng-controller="productCategoryCtrl">
                <div id="wizard1" class="wizard wizard-ux" 	>
                  <ul class="steps">
                    <li data-step="1" class="active">Step 1<span class="chevron"></span></li>
                    <li data-step="2">Step 2<span class="chevron"></span></li>
                    <li data-step="3">Step 3<span class="chevron"></span></li>
                  </ul>

                  <div class="step-content">
                    <div data-step="1" class="step-pane active">
                      <form action="#" data-parsley-namespace="data-parsley-" data-parsley-validate="" novalidate class="form-horizontal group-border-dashed">



                          <!-- Choose images -->

                                  <section class="nobox box ">
                                      <div class="content-body">
                                          <div class="row">
                                              <div class="col-md-3">

                                              </div>
                                              <div class="col-md-9" style="margin-bottom: 40px">
                                                  <div class="form-group">
                                                      <label class="col-sm-12">Choose countries where this will be available</label>
                                                      <div class="col-sm-6">
                                                          <select multiple="" class="tags" ng-controller="WizardCtrl">
                                                              <option ng-repeat="country in wizard" value="{{country.name}}">{{country.name}}</option>
                                                          </select>
                                                      </div>
                                                  </div>
                                              </div>



                                          </div>
                                      </div>
                                  </section>

                          <div class="form-group">
                              <label class="col-sm-3 control-label">Enter Product title</label>
                              <div class="col-sm-6">
                                  <input type="text" placeholder="Product title" class="form-control">
                              </div>
                          </div>


                        <div class="form-group">
                          <label class="col-sm-3 control-label">Product description</label>
                          <div class="col-sm-6">
                            <div id="editor1"></div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-default btn-space">Cancel</button>
                            <button data-wizard="#wizard1" class="btn btn-primary btn-space wizard-next">Next Step <i class="icon s7-angle-right"></i></button>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div data-step="2" class="step-pane">
                      <form action="#" data-parsley-namespace="data-parsley-" data-parsley-validate="" novalidate class="form-horizontal group-border-dashed">



                          <div class="form-group">
                              <label class="col-sm-3 control-label">Choose tags</label>
                              <div class="col-sm-6">
                                  <select multiple="" class="tags" ng-controller="WizardCtrl">
                                      <option value="1">Twitter</option>
                                      <option value="2">Google</option>
                                      <option value="3">Facebook</option>
                                  </select>
                              </div>
                          </div>

                          <div class='content-wrapper' ng-init="app.settings.pagetitle = 'File Uploader';">
                              <div class="col-lg-12" ng-controller="ProductUploadCtrl" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">

                          <div class="col-md-3">
                              <h3>Select the images for your item</h3>

                              <input type="file" nv-file-select="" uploader="uploader" multiple />

                          </div>
                          <div class="col-md-9" style="margin-bottom: 40px">
                              <h3>Upload queue</h3>
                              <p>Queue length: {{ uploader.queue.length }}</p>
                              <table class="table">
                                  <thead>
                                  <tr>
                                      <th width="50%">Name</th>
                                      <th ng-show="uploader.isHTML5">Size</th>
                                      <th ng-show="uploader.isHTML5">Progress</th>
                                      <th>Status</th>
                                      <th>Actions</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr ng-repeat="item in uploader.queue">
                                      <td><strong>{{ item.file.name }}</strong></td>
                                      <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                      <td ng-show="uploader.isHTML5">
                                          <div class="progress" style="margin-bottom: 0;">
                                              <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                          </div>
                                      </td>
                                      <td class="text-center">
                                          <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                          <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                          <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                      </td>
                                      <td nowrap>
                                          <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                              <span class="glyphicon glyphicon-upload"></span> Upload
                                          </button>
                                          <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                              <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                          </button>
                                          <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                              <span class="glyphicon glyphicon-trash"></span> Remove
                                          </button>
                                      </td>
                                  </tr>
                                  </tbody>
                              </table>
                              <div>
                                  <div>
                                      Queue progress:
                                      <div class="progress" style="">
                                          <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                      </div>
                                  </div>
                                  <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                      <span class="glyphicon glyphicon-upload"></span> Upload all
                                  </button>
                                  <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                      <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                  </button>
                                  <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                      <span class="glyphicon glyphicon-trash"></span> Remove all
                                  </button>
                              </div>
                          </div>
                              </div>
                          </div>
                        <div class="form-group">
                          <div class="col-sm-12">
                            <button data-wizard="#wizard1" class="btn btn-default btn-space wizard-previous"><i class="icon s7-angle-left"></i> Previous</button>
                            <button data-wizard="#wizard1" class="btn btn-primary btn-space wizard-next">Next Step <i class="icon s7-angle-right"></i></button>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div data-step="3" class="step-pane">
                      <form action="#" data-parsley-namespace="data-parsley-" data-parsley-validate="" novalidate class="form-horizontal group-border-dashed">

                        <div class="form-group col-md-6">
                            <label class="form-label" >Sale start and end date</label>
                            <div class="controls">
                                <input ui-jq="daterangepicker" ui-options="{
                            format: 'YYYY/MM/DD hh:mm A',
                            timePickerIncrement: '5',
                            timePicker: true,
                          }" class="form-control daterange" />
                            </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-12">Price</label>
                          <div class="col-sm-6">
                            <input type="text" placeholder="Price" class="form-control">
                          </div>
                        </div>



                        <div class="form-group_wrap">
                            <table class="form-table col-md-6" id="customFields">
                                <tr valign="top">
                                    <td>

                                        <div class="form-group">
                                          <div class="col-sm-5">
                                            <label class="control-label">Number of sale</label>
                                            <input type="text" placeholder="Number of sale" class="form-control">
                                          </div>
                                          <div class="col-sm-5">
                                            <label class="control-label">Price discount: <span id="rate_1">5%</span></label>
                                            <p></p>
                                            <input  id="1" data-slider-min="0" data-slider-max="100" type="text" value="5" class="rate_slider bslider form-control">
                                          </div>

                                          <div class="col-md-2">
                                            <a class="addCF btn btn-success btn-sm" href="javascript:void(0);">Add</a>
                                        </div>

                                        </div>

                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="form-group">
                          <div class="col-sm-12">
                            <button data-wizard="#wizard1" class="btn btn-default btn-space wizard-previous"><i class="icon s7-angle-left"></i> Previous</button>
                            <button data-wizard="#wizard1" class="btn btn-success btn-space wizard-next"><i class="icon s7-check"></i> Complete</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <script src="assets/lib/jquery.nanoscroller/javascripts/jquery.nanoscroller.min.js" type="text/javascript"></script>
    <script src="assets/js/main_wizard.js" type="text/javascript"></script>
    <script src="assets/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/lib/summernote/summernote.min.js" type="text/javascript"></script>
    <script src="assets/lib/summernote/summernote-ext-amaretti.js" type="text/javascript"></script>
    <script src="assets/lib/fuelux/js/wizard.js" type="text/javascript"></script>
    <script src="assets/lib/select2/js/select2.min.js" type="text/javascript"></script>
    <script src="assets/lib/bootstrap-slider/js/bootstrap-slider.js" type="text/javascript"></script>
    <script src="assets/js/app-form-wizard.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function(){
      	//initialize the javascript
      	App.init();
      	App.wizard();
        App.textEditors();
      });
    </script>
