<div class="content-wrapper"  ng-init="app.settings.pagetitle = 'Create a Site';">
   
<div class="col-lg-12" id="custumecssid">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Create a site</h2>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-wizard nav-pills">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <uib-progressbar value="steps.percent" class="progress-xs primary" type="success"></uib-progressbar>
                        </div>
                        
                        <!----Code For creating the steps1---------------------->
                        
                        <uib-tabset class="tab-container" ng-init="steps={percent:20, step1:true, step2:false, step3:false, step4:false, step5:false, step1stat:false, step2stat:false, step3stat:false, step4stat:false, step5stat:false }">
                            <uib-tab active="steps.step1" select="steps.percent=20" class=" {{steps.step1stat ? 'complete' : ''}} ">
                                <uib-tab-heading class="tabhead"><i class="material-icons">room</i>Step 1<div class="small-text">Site details</div></uib-tab-heading>
                                
                                <!-------------------------Left Section--------------------------------->

								<div class="form-group">
								Choose category
								<br>
								(scrolling list of images with category types)
								<br>

</div>


								<div class="form-group">
									<label class="form-label" for="formfield1">Site  Name</label>
									<div class="controls">
										<input type="text" class="form-control" id="sitename" name="sitename" placeholder="Site Name" ng-model="sitename" required>
									</div>
								</div>

								Description:
								Describe the site in few words

							<!---------------Right Section---------------------------->

							<div class="clearfix"></div>
							<div class="Step_one_next">
                                 <button type="submit" ng-disabled="step2.$invalid" class="btn btn-primary default_selectbtn" ng-click="steps.step3=true">Next Step</button>
                            </div>
                            	<div class="clearfix"></div>
                            </uib-tab>
                            
                            <!----Code For creating the steps2---------------------->
                            
                            <uib-tab disabled="step1.$invalid" active="steps.step2" select="steps.percent=40; steps.step1stat=true" class=" {{steps.step2stat ? 'complete' : ''}}">
                                <uib-tab-heading class="tabhead"><i class="material-icons">settings</i>Step2<div class="small-text">Location settings</div></uib-tab-heading>

								<div class="col-md-12 col-sm-12 col-xs-12" ng-controller="MapCtrl">


								<div id="map_canvas" style="min-height:500px" ui-map="myMap" ui-event="{'map-click': 'addMarker($event, $params)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }" ui-options="mapOptions">
								</div>


									<div class="clearfix"></div>
									<br>
									<div class="map-toolbar">
										<h4 class="m-t-none">Click on a place in Map to add a marker!</h4>
										<p>{{zoomMessage}}</p>
										<ul class="list-unstyled list-inline">
											<li ng-repeat="marker in myMarkers">
												<a class="btn btn-default " ng-click="myMap.panTo(marker.getPosition())">
													Go to Marker {{$index}}
												</a>
											</li>
										</ul>
										<!-- this is the confusing part. we have to point the map marker directive
                                    at an existing google.maps.Marker object, so it can hook up events -->
										<div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]" ui-event="{'map-click': 'openMarkerInfo(marker)'}">
										</div>
										<div ui-map-info-window="myInfoWindow">
											<div class="">Marker</div>
											<div class="">
												<div class="pull-left">Latitude: </div>
												<input ng-model="currentMarkerLat" class="form-control input-sm">
											</div>
											<div class="">
												<div class="pull-left m-t-xs">Longitude: </div>
												<input ng-model="currentMarkerLng" class="form-control input-sm">
											</div>
										</div>
									</div>
</div>



								State:
								<div class="select-style">
									<select >
										<option value="0">State</option>
										<option value="1">NSW</option>
										<option value="2">VIC</option>
										<option value="3">QLD</option>
										<option value="4">WA</option>
										<option value="5">NT</option>
										<option value="13">TAS</option>
									</select>
								</div>


								<div class="form-group">
									<label class="form-label" for="formfield1">City  Name</label>
									<div class="controls">
										<input type="text" class="form-control" id="fieldcityname" name="fieldcityname" placeholder="City Name" ng-model="cityname" >
									</div>
								</div>

                            </uib-tab>
                            
                             <!----Code For creating the steps3---------------------->
                             
                            <uib-tab disabled="step2.$invalid" active="steps.step3" select="steps.percent=60; steps.step2stat=true" class=" {{steps.step3stat ? 'complete' : ''}}">
                                <uib-tab-heading class="tabhead"><i class="material-icons">check</i>Step3<div class="small-text">Site features</div></uib-tab-heading>
                                <h4 class='margin-top-30'>Portfolio Information</h4>
                                <form name="step3" class="form-validation  col-md-8 padding-left-0">
                                    <div class="form-group">
                                        <label class="form-label" for="formfield1">Company Name</label>
                                        <div class="controls">
                                            <input type="text" class="form-control" id="formfield1" name="formfield1" placeholder="Company Name" ng-model="company" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="formfield1">Experience</label>
                                        <div class="controls">
                                            <input type="number" name="experience" class="form-control" ng-model="experience" required>;
                                        </div>
                                    </div>
                                    <div class="">
                                        <button type="button" class="btn btn-primary" ng-click="steps.step2=true">Prev</button>
                                        <button type="submit" ng-disabled="step3.$invalid" class="btn btn-primary" ng-click="steps.step4=true">Next</button>
                                    </div>
                                </form>
                            </uib-tab>

                        </uib-tabset>
                    </div>
                </div>
            </div>
        </section>
    </div>


</div>
