

<div class="content-wrapper"  ng-init="app.settings.pagetitle = 'Custom Form';">
   
<div class="col-lg-12" id="custumecssid" ng-controller="CustomSliderCtrl">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">CREATE YOUR LIFT WITH YOUR CAR</h2>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-wizard nav-pills">
                        <!----Code For creating the steps1---------------------->
                        
                        <uib-tabset class="tab-container" ng-init="steps={percent:20, step1:true, step2:false, step3:false }">
                            <uib-tab active="steps.step1" select="steps.percent=20" class=" {{steps.step1stat ? 'complete' : ''}} ">
                                <uib-tab-heading class="tabhead"><i class="material-icons">room</i>Step 1<div class="small-text">First step itinerary</div></uib-tab-heading>
                                <form name="step1" class="form-validation">
                                <!-------------------------Left Section--------------------------------->
                                
                                <div  class="leftsecst stepone">
                                <h4 class='margin-top-30 chyd' >Choose your departure and destination</h4>
								
								<!----Please note this will be change to angular select field once we have the json api------>
							<div class="select-box-area">
								<div class="select-style">
								<!--<select ng-model="formData.Todeparture" ng-options="value.cityName as value.cityName for value in departures" required>
									<option value="">FROM</option> 
								</select> -->
								
									<select id="selectFrom" ui-jq="chosen" class="form-control" ng-model="formData.fromLocation" ng-options="value.id as value.cityName for value in departures" required ng-change="setCountryName()">
                                    <option value="">From</option>
									</select>
								</div>
							<div class="select-style">
							<!--<select ng-model="formData.Todestination" ng-options="value.departureName as value.departureName for value in departures" required>
									<option value="">TO</option>
								</select> -->
								<select id="selectTo"ui-jq="chosen" class="form-control" ng-model="formData.toLocation" ng-options="value.id as value.cityName for value in departures" required ng-change="setCountryName()">
                                    <option value="">To</option>
									</select>			
								</div>
								
								</div>
								<div class="chosdate">Choose your departure date</div>
                                <div class="row">
								<div ng-controller="DatepickerDemoCtrl">
									<div class="form-group inlinedate">
										<div class="controls" class="padd15">
											<div class="stul11">
											<uib-datepicker ng-model="formData.journeyDate" min-date="minDate" show-weeks="false" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
										 </div>
										 <div class="daterightsec"><p class="current_daystyl ng-binding" ng-model="formData.depature_day" >{{formData.journeyDate | date:'EEEE' }}
										 </p>
										 <p id="dateSel" class="current_datestyl ng-binding" ng-model="formData.depature_date">{{formData.journeyDate | date:'dd' }}</p>
										
											 
											 
											</div>
								<div popover-class="primary animated fadeIn " popover-placement="top" uib-popover="Flexible: The departure date can be around the selected day - Only that day: The departure date is fixed." popover-trigger="mouseenter"  class="mr60 popups1">
                                    <span class='text-dark leftcls' ><span class="glyphicon glyphicon-info-sign styl12" aria-hidden="true" ></span></span></div>
										<div class="btn-group margin-bottom-10 custom_form_radio btn-flexy">
											<a class="margin-right-10 btn btn-filter form-control ng-pristine ng-valid active default_select" btn-radio="'Flexible'" ng-model="formData.flexibility" ng-class="btnClass">Flexible date</a>
											<a class="btn btn-filter form-control ng-pristine ng-valid" btn-radio="'Only that day'" ng-model="formData.flexibility">Only that day</a>
										</div>
									</div>
								</div>						
							</div>
							</div></div>
							<!---------------Right Section---------------------------->
							<div  class="rightdiv stepone">
								<p class="chosdate">Available seat(s) in your car</p>
									<div class="form-group">
										<div class="controls">
                                <input  ng-model="formData.seatsAvailable" ui-jq="TouchSpin" type="text" ng-value="1" class="form-control" data-min='1' data-max="15" data-verticalbuttons="true" data-verticalupclass="fa fa-plus" data-verticaldownclass="fa fa-minus">
								 <div>
									<div class="pricesec">Price per seat</div>
									
								<div class="pricesecvalue" >	 ${{formData.journeyPrice}}</div>
									<div slider config="sliderConfig" model="formData.journeyPrice" class="cdbl-slider"></div>
									<div popover-class="primary animated fadeIn " popover-placement="top" uib-popover="Direct trip: you just want to reach the final destination asap - Road trip: You are planning to visit differents places with no specific end date" popover-trigger="mouseenter" style="margin-top: 60px;">
                                    <span class='text-dark pincenter'><span class="glyphicon glyphicon-info-sign styl12" aria-hidden="true"></span></span><div class="choostext">Choose your type of trip</div></div>
                                    <div class="btn-group margin-bottom-10 custom_form_radio rightbtnst">
											<a class="btn btn-filter form-control ng-pristine ng-valid active margin-right-10" btn-radio="'0'" ng-model="formData.journeyType" ng-class="btnClass" >Road trip</a>
											<a class="btn btn-filter form-control ng-pristine ng-valid" btn-radio="'1'" ng-model="formData.journeyType">Direct</a>
										</div>
                                    
                                    
								</div>
                            </div>
                        </div>
							</div>
							<div class="clearfix"></div>
							<div class="Step_one_next">
                                 <button type="submit" ng-disabled="step1.$invalid" class="btn btn-primary default_selectbtn" ng-click="steps.step2	=true">Next Step</button>
                            </div>
                            	<div class="clearfix"></div>
                            </form>
                            </uib-tab>
                            
                            <!----Code For creating the steps2---------------------->
                            
                            <uib-tab disabled="step1.$invalid" active="steps.step2" select="steps.percent=40; steps.step1stat=true" class=" {{steps.step2stat ? 'complete' : ''}}">
                                <uib-tab-heading class="tabhead"><i class="material-icons">settings</i>Step2<div class="small-text">Second step options</div></uib-tab-heading>
                                <div class="leftsecst steptwo">
									<h4 class="margin-top-30 chyd">Vehicule options</h4>
                               
                                <form name="step2" class="form-validation ">
									<div class="btn-group margin-bottom-10 custom_form_radio step2btn">
											<a class="margin-right-10 btn btn-filter form-control ng-pristine ng-valid" btn-checkbox btn-checkbox-true="'1'" btn-checkbox-false ="0" ng-model="formData.flexibleac">AC</a>
											<a class="btn btn-filter form-control ng-pristine ng-valid" btn-checkbox btn-checkbox-true="'2'" btn-checkbox-false ="0" ng-model="formData.radioflexible">Radio / Music</a>
										</div>
										<div class="btn-group margin-bottom-10 custom_form_radio step2btn">
											<a class="margin-right-10 btn btn-filter form-control ng-pristine ng-valid" btn-checkbox btn-checkbox-true="'3'" btn-checkbox-false ="0" ng-model="formData.usbflexible">USB charger</a>
											<a class="btn btn-filter form-control ng-pristine ng-valid" btn-checkbox btn-checkbox-true="'5'" btn-checkbox-false ="0" ng-model="formData.slotsflexible">Slots for surf boards</a>
										</div>
										<h4 class="margin-top-10 chyd">Extra options</h4>
											<div class="btn-group margin-bottom-10 custom_form_radio step2btn">
											<a class="margin-right-10 btn btn-filter form-control ng-pristine ng-valid  " btn-checkbox btn-checkbox-true="'8'" btn-checkbox-false ="0" ng-model="formData.cookingflexible">Cooking tools</a>
											<a class="btn btn-filter form-control ng-pristine ng-valid" btn-checkbox-true="'13'" btn-checkbox btn-checkbox-false ="0" ng-model="formData.oksleepflexible">OK to sleep inside</a>
										</div>
										<div class="btn-group margin-bottom-10 custom_form_radio step2btn">
											<a class="margin-right-10 btn btn-filter form-control ng-pristine ng-valid default_select" btn-checkbox btn-checkbox-true="'21'" btn-checkbox-false ="0" ng-model="formData.campingflexible">Camping gear</a>
											<a class="btn btn-filter form-control ng-pristine ng-valid" btn-checkbox-true="'34'" btn-checkbox btn-checkbox-false ="0" ng-model="formData.waterflexible">Water container</a>
										</div>
                                    </div>
                                    <div class="rightdiv step2sec">
								<h4 class="margin-top-30 chyd">Vehicule type:</h4>
									<div popover-class="primary animated fadeIn " popover-placement="top" uib-popover="Car / Break" popover-trigger="mouseenter"  class="btn-group margin-bottom-10 custom_form_radio step2rightbtn">
                                  <a class="margin-right-10 btn btn-filter form-control ng-pristine ng-valid active default_select" btn-radio="'car'" ng-model="formData.vehicleType" ng-class="btnClass">  <i class="material-icons">directions_car</i></a>
                                  </div>
                                  <div popover-class="primary animated fadeIn " popover-placement="top" uib-popover="4 wheel drive" popover-trigger="mouseenter"  class="btn-group margin-bottom-10 custom_form_radio step2rightbtn">
                                  <a class="margin-right-10 btn btn-filter form-control ng-pristine ng-valid " btn-radio="'4 wheel drive'" ng-model="formData.vehicleType">  <i class="material-icons">directions_car</i></a>
                                  </div>
                                  <div popover-class="primary animated fadeIn " popover-placement="top" uib-popover="Campervan" popover-trigger="mouseenter"  class="btn-group margin-bottom-10 custom_form_radio step2rightbtn">
                                  <a class="margin-right-10 btn btn-filter form-control ng-pristine ng-valid " btn-radio="'Campervan'" ng-model="formData.vehicleType">  <i class="material-icons">directions_bus</i></a>
                                  </div>
								<h4 class="margin-top-30 chyd">Available luggage space:</h4>
									<div popover-class="primary animated fadeIn " popover-placement="top" uib-popover="Limited space available" popover-trigger="mouseenter"  class="btn-group margin-bottom-10 custom_form_radio step2rightbtn">
                                  <a class="margin-right-10 btn btn-filter form-control ng-pristine ng-valid active default_select" btn-radio="'0'" ng-model="formData.luggageSpace" ng-class="btnClass">  <i class="fa fa-suitcase"></i></a>
                                  </div>
                                  <div popover-class="primary animated fadeIn " popover-placement="top" uib-popover="Space available" popover-trigger="mouseenter"  class="btn-group margin-bottom-10 custom_form_radio step2rightbtn">
                                  <a class="margin-right-10 btn btn-filter form-control ng-pristine ng-valid " btn-radio="'1'" ng-model="formData.luggageSpace"> <i class="fa fa-suitcase"></i> <i class="fa fa-suitcase"></i></a>
                                  </div>
                                  <div popover-class="primary animated fadeIn " popover-placement="top" uib-popover="Suitcase accepted" popover-trigger="mouseenter"  class="btn-group margin-bottom-10 custom_form_radio step2rightbtn">
                                  <a class="margin-right-10 btn btn-filter form-control ng-pristine ng-valid " btn-radio="'2'" ng-model="formData.luggageSpace"> <i class="fa fa-suitcase"></i> <i class="fa fa-suitcase"></i> <i class="fa fa-suitcase"></i></a>
                                  </div>

                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="row">
										<div class="col-md-6 text-left btn-group margin-top-10 custom_form_radio">
                                        <button type="button" class="btn btn-primary back-btn" ng-click="steps.step1=true">BACK</button>
                                        </div>
                                        <div class="col-md-6 text-right margin-top-10 custom_form_radio">
                                        <button type="submit" ng-disabled="step2.$invalid" class="btn btn-primary default_selectbtn" ng-click="steps.step3=true">NEXT STEP</button>
                                    </div>
                                    </div>
                                </form>
                            </uib-tab>
                            
                             <!----Code For creating the steps3---------------------->
                             
                            <uib-tab disabled="step2.$invalid" active="steps.step3" select="steps.percent=60; steps.step2stat=true" class=" {{steps.step3stat ? 'complete' : ''}}">
                                <uib-tab-heading class="tabhead"><i class="material-icons">check</i>Step3<div class="small-text">Third step overview</div></uib-tab-heading>
								<form name="step3" class="form-validation  col-md-12 padding-left-0" ng-submit="processForm()">
                                <div class="leftsecst">
									
									<h4 class="margin-top-30 chyd">Vehicule options</h4>                               
										<p class="text-center color-darkgray">Who are you ? Where is the pick up location ? What make your trip interesting ? Any particalur places to stop/visit in between ?</p>
									<h4 class="margin-top-30 chyd">Add a description</h4>
										<textarea ng-trim="false" placeholder="Hello, my name is..." ng-model="formData.description" maxlength="750" class="form-control ng-pristine ng-valid textareastyle">
										</textarea>
									<div class="text-left">
										<small class="color-darkgray">  {{750 - formData.description.length}} characters left</small>
									</div>
                                    </div>
                                     <div class="rightdiv step2sec">
										<h4 class="yourtripstyl">Your trip</h4>
										<div class="row">
												<div class="col-sm-6 info-lift-overview">
													<div class="col-md-4 paddingzero font45 ">
																	 <i class="material-icons color-darkgray">traffic</i>
													</div>

													<span class="flexible ng-binding font30">{{formData.flexibility}}</span><br>
													<div ng-controller="DatepickerDemoCtrl"><span class="ng-binding font30 color-darkgray">{{formData.journeyDate | date:'dd' }} {{formData.journeyDate | date:'MMMM'}}</span></div>
												</div>
												<div class="col-sm-6 info-lift-overview">
													<div class="col-md-3 font30 paddingzero">
													 <i class="material-icons color-darkgray"> location_searching</i>
													</div>
													<span class="citya ng-binding font30">{{formData.fromLocationDisplayName}}</span><br>
													<span class="cityb ng-binding font30 color-darkgray">{{formData.toLocationDisplayName}}</span>
												</div>
												<div class="col-sm-12 text-center info-lift-overview-price">
												<h4 class="yourtripstyl">Estimated price</h4>
													<div class="estimated-price border-boxall">
														<h4 class="yourtripstyl">${{formData.journeyPrice}}</h4> 
														<p class="save-up ng-binding">Save up to ${{formData.journeyPrice}} if you share all your available seats on time </p>
													</div>
												</div>
											</div>
										</div>
                                    <div class="row">
										<div class="col-md-6 text-left btn-group margin-top-10 custom_form_radio">
                                        <button type="button" class="btn btn-primary back-btn" ng-click="steps.step2=true">BACK</button>
                                        </div>
                                        <div class="col-md-6 text-right margin-top-10 custom_form_radio">

                                        <button type="submit" ng-disabled="step1.$invalid" class="btn btn-primary default_selectbtn"><i class="material-icons">check</i>PUBLISH</button>

                                    </div>
                                    </div>
                                </form>
                            </uib-tab>

                        </uib-tabset>
                    </div>
                </div>
            </div>
        </section>
    </div>


</div>
