<script type="text/javascript" src="js/CustomGoogleMapMarker.js"></script>
<div id="airbnPage" >
<div class="col-md-7 col-sm-12 col-xs-12 block-images">
<div class='content-wrapper'>
<section class="box ">
<header class="panel_header">
</header>
<div class="content-body">
    <button id="btnMoreFilters" ng-click="showFilters()" data-ng-controller="AirbnbCtrl" >More Filters</button>
    <div id="filters" class="display-none" data-ng-controller="AirbnbCtrl" >
        <div class="row">
            <label class="col-md-3 col-sm-3 col-sx-3">Size</label>
            <select class="col-md-3 col-sm-3 col-sx-3">
                <option>Bedrooms</option>
                <option>Bedroom1</option>
                <option>Bedroom2</option>
                <option>Bedroom3</option>
            </select>
            <select class="col-md-3 col-sm-3 col-sx-3">
                <option>Bathrooms</option>
                <option>0 Bathroom</option>
                <option>0.5 Bathroom</option>
                <option>1 Bathroom</option>
            </select>
            <select class="col-md-3 col-sm-3 col-sx-3">
                <option>Beds</option>
                <option>Bed1</option>
                <option>Bed2</option>
                <option>Bd3</option>
            </select>
        </div>
        <div class="row">
            <label class="col-md-3 col-sm-3 col-sm-3">Options</label>

            <div class="col-md-3 col-sm-3 col-sm-3">
                <input type="checkbox"/>
                <label>Bondi Beach</label>
            </div>
            <div class="col-md-3 col-sm-3 col-sm-3">
                <input type="checkbox"/>
                <label>Surry Hills</label>
            </div>
            <div class="col-md-3 col-sm-3 col-sm-3">
                <input type="checkbox"/>
                <label>Manly</label>
            </div>
            </div>
            <div class="row">
            <label class="col-md-3 col-sm-3 col-sm-3">Neighbourhoods</label>

            <div class="col-md-3 col-sm-3 col-sm-3">
                <input type="checkbox"/>
                <label>Wireless Internet</label>
            </div>
            <div class="col-md-3 col-sm-3 col-sm-3">
                <input type="checkbox"/>
                <label>Pool</label>
            </div>
            <div class="col-md-3 col-sm-3 col-sm-3">
                <input type="checkbox"/>
                <label>Kitchen</label>
            </div>
        </div>
        <div class="row">
            <label class="col-md-2 col-sm-3 col-sm-3">Amenities</label>

            <div class="col-md-3 col-sm-3 col-sm-3">
                <input type="checkbox"/>
                <label>Apartment</label>
            </div>
            <div class="col-md-3 col-sm-3 col-sm-3">
                <input type="checkbox"/>
                <label>House</label>
            </div>
            <div class="col-md-4 col-sm-3 col-sm-3">
                <input type="checkbox"/>
                <label class="col-md-6 col-sm-8 col-sm-8">Bed & Breakfast</label>
                <i class="icon-chevron-up col-md-6 col-sm-4 col-sm-4"></i>
            </div>

        </div>
    <div class="row">
            <label class="col-md-2 col-sm-3 col-sm-3">Property Type</label>

            <div class="col-md-3 col-sm-3 col-sm-3">
                <input type="checkbox"/>
                <label>Instant Book</label>
            </div>
            <div class="col-md-7 col-sm-4 col-sm-4">
                <input type="checkbox"/>
                <label>Superhost</label>
            </div>
        </div>
    <div class="row">
        <label class="col-md-2 col-sm-3 col-sm-3">Host Language</label>

        <div class="col-md-3 col-sm-3 col-sm-3">
            <input type="checkbox"/>
            <label>English</label>
        </div>
        <div class="col-md-3 col-sm-3 col-sm-3">
            <input type="checkbox"/>
            <label>Spanish</label>
        </div>
        <div class="col-md-4 col-sm-3 col-sm-3">
            <input type="checkbox"/>
            <label>French</label>
        </div>
    </div>
    <div id="btn-filter">
        <button class="btn-filter apply-filter">Apply filters</button>
        <button class="btn-filter cancel" ng-click="showFilters(false)" ">Cancel</button>
    </div>
</div>
<div class="row">
<div class="col-md-6 col-sm-12 col-xs-12 carousel-sg">
    <div ng-controller="CarouselAirbnb" set-ng-animate="false">
        <carousel interval="false">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <img src="{{slide.smallImage}}" class="small-image">

            </slide>
            <div class="icon-heart"><i class="fa fa-heart-o icon-white"></i></div>
            <div class="icon-heart"><i class="fa fa-heart icon-black"></i></div>

        </carousel>
        <div class="price-box">
            <span class="currency-sign">$</span>
            <span class="price-airbnb">89</span>
            <span class="currency">AUD</span>
            <span class="per-night">Per night</span>
        </div>
        <div class="text-under-image">
            <span><a href="">Private room with own Tv and Netflix </a> </span><br>
            <span class="floatleft">Private room </span>
            <li class="floatleft"><span class="glyphicon glyphicon-star"
                                        style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                <span></li>
            <li> 4 reviews</span></li>
        </div>
    </div>
</div>
<div class="col-md-6 col-sm-12 col-xs-12 carousel-sg">
    <div ng-controller="CarouselAirbnb" set-ng-animate="false">
        <carousel interval="false">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <img src="{{slide.smallImage}}" class="small-image">
            </slide>
            <div class="icon-heart"><i class="fa fa-heart-o icon-white"></i></div>
            <div class="icon-heart"><i class="fa fa-heart icon-black"></i></div>

        </carousel>
        <div class="price-box">
            <span class="currency-sign">$</span>
            <span class="price-airbnb">89</span>
            <span class="currency">AUD</span>
            <span class="per-night">Per night</span>
        </div>
        <div class="text-under-image">
            <span><a href="">Private room with own Tv and Netflix </a> </span><br>
            <span class="floatleft">Private room </span>
            <li class="floatleft"><span class="glyphicon glyphicon-star"
                                        style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                <span></li>
            <li> 4 reviews</span></li>
        </div>
    </div>
</div>
<div class="col-md-6 col-sm-12 col-xs-12 ccarousel-sg">
    <div ng-controller="CarouselAirbnb" set-ng-animate="false">
        <carousel interval="false">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <img src="{{slide.smallImage}}" class="small-image">

            </slide>
            <div class="icon-heart"><i class="fa fa-heart-o icon-white"></i></div>
            <div class="icon-heart"><i class="fa fa-heart icon-black"></i></div>

        </carousel>
        <div class="price-box">
            <span class="currency-sign">$</span>
            <span class="price-airbnb">89</span>
            <span class="currency">AUD</span>
            <span class="per-night">Per night</span>
        </div>
        <div class="text-under-image">
            <span><a href="">Private room with own Tv and Netflix </a> </span><br>
            <span class="floatleft">Private room </span>
            <li class="floatleft"><span class="glyphicon glyphicon-star"
                                        style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                <span></li>
            <li> 4 reviews</span></li>
        </div>
    </div>

</div>
<div class="col-md-6 col-sm-12 col-xs-12 carousel-sg">
    <div ng-controller="CarouselAirbnb" set-ng-animate="false">
        <carousel interval="false">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <img src="{{slide.smallImage}}" class="small-image">
            </slide>
            <div class="icon-heart"><i class="fa fa-heart-o icon-white"></i></div>
            <div class="icon-heart"><i class="fa fa-heart icon-black"></i></div>

        </carousel>
        <div class="price-box">
            <span class="currency-sign">$</span>
            <span class="price-airbnb">89</span>
            <span class="currency">AUD</span>
            <span class="per-night">Per night</span>
        </div>
        <div class="text-under-image">
            <span><a href="">Private room with own Tv and Netflix </a> </span><br>
            <span class="floatleft">Private room </span>
            <li class="floatleft"><span class="glyphicon glyphicon-star"
                                        style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                <span></li>
            <li> 4 reviews</span></li>
        </div>
    </div>
</div>
<div class="col-md-6 col-sm-12 col-xs-12 carousel-sg">
    <div ng-controller="CarouselAirbnb" set-ng-animate="false">
        <carousel interval="false">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <img src="{{slide.smallImage}}" class="small-image">
            </slide>
            <div class="icon-heart"><i class="fa fa-heart-o icon-white"></i></div>
            <div class="icon-heart"><i class="fa fa-heart icon-black"></i></div>
        </carousel>
        <div class="price-box">
            <span class="currency-sign">$</span>
            <span class="price-airbnb">89</span>
            <span class="currency">AUD</span>
            <span class="per-night">Per night</span>
        </div>
        <div class="text-under-image">
            <span><a href="">Private room with own Tv and Netflix </a> </span><br>
            <span class="floatleft">Private room </span>
            <li class="floatleft"><span class="glyphicon glyphicon-star"
                                        style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                <span></li>
            <li> 4 reviews</span></li>
        </div>
    </div>
</div>
<div class="col-md-6 col-sm-12 col-xs-12 carousel-sg">
    <div ng-controller="CarouselAirbnb" set-ng-animate="false">
        <carousel interval="false">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <img src="{{slide.smallImage}}" class="small-image">
            </slide>
            <div class="icon-heart"><i class="fa fa-heart-o icon-white"></i></div>
            <div class="icon-heart"><i class="fa fa-heart icon-black"></i></div>

        </carousel>
        <div class="price-box">
            <span class="currency-sign">$</span>
            <span class="price-airbnb">89</span>
            <span class="currency">AUD</span>
            <span class="per-night">Per night</span>
        </div>
        <div class="text-under-image">
            <span><a href="">Private room with own Tv and Netflix </a> </span><br>
            <span class="floatleft">Private room </span>
            <li class="floatleft"><span class="glyphicon glyphicon-star"
                                        style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                <span></li>
            <li> 4 reviews</span></li>
        </div>
    </div>
</div>
<div class="col-md-6 col-sm-12 col-xs-12 carousel-sg">
    <div ng-controller="CarouselAirbnb" set-ng-animate="false">
        <carousel interval="false">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <img src="{{slide.smallImage}}" class="small-image">
            </slide>
            <div class="icon-heart"><i class="fa fa-heart-o icon-white"></i></div>
            <div class="icon-heart"><i class="fa fa-heart icon-black"></i></div>

        </carousel>
        <div class="price-box">
            <span class="currency-sign">$</span>
            <span class="price-airbnb">89</span>
            <span class="currency">AUD</span>
            <span class="per-night">Per night</span>
        </div>
        <div class="text-under-image">
            <span><a href="">Private room with own Tv and Netflix </a> </span><br>
            <span class="floatleft">Private room </span>
            <li class="floatleft"><span class="glyphicon glyphicon-star"
                                        style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                <span></li>
            <li> 4 reviews</span></li>
        </div>
    </div>
</div>
<div class="col-md-6 col-sm-12 col-xs-12 carousel-sg">
    <div ng-controller="CarouselAirbnb" set-ng-animate="false">
        <carousel interval="false">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <img src="{{slide.smallImage}}" class="small-image">
            </slide>
            <div class="icon-heart"><i class="fa fa-heart-o icon-white"></i></div>
            <div class="icon-heart"><i class="fa fa-heart icon-black"></i></div>

        </carousel>
        <div class="price-box">
            <span class="currency-sign">$</span>
            <span class="price-airbnb">89</span>
            <span class="currency">AUD</span>
            <span class="per-night">Per night</span>
        </div>
        <div class="text-under-image">
            <span><a href="">Private room with own Tv and Netflix </a> </span><br>
            <span class="floatleft">Private room </span>
            <li class="floatleft"><span class="glyphicon glyphicon-star"
                                        style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                </span><span class="glyphicon glyphicon-star"
                             style="color: #F37826"></span>
                <span></li>
            <li> 4 reviews</span></li>
        </div>
    </div>
</div>
</div>
</div>
</section>
</div>


</div>
<div class="col-md-5 col-sm-12 col-xs-12 google-maps">
    <div id="map-canvas">
    </div>
</div>

</div>



