<div class="modal-header">
    <h3 class="modal-title">Register as User</h3>
</div>
<div class="modal-body">
    <form name="form" class="form-validation">
        <div class="alert alert-danger alert-dismissable" role="alert" ng-show="authError">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{authError}}
        </div>
        <div class="form-group">
            <label for="modalname1" class="form-label">Full Name</label>
            <input type="text" name="name" id="user_name" class="form-control"  ng-model="user.firstname" placeholder="Full Name" required />
        </div>
        <div class="form-group">
            <label for="modalemail1" class="form-label">Email address</label>
            <input type="email" name="log" id="user_login" class="form-control" ng-model="user.email" placeholder="Email" required />
        </div>
        <div class="form-group">
            <label for="modalpw1" class="form-label">Password</label>
            <input type="password" name="pwd" id="user_pass" class="form-control" ng-model="user.password" placeholder="Password" required/>
        </div>
        <!-- <div class="form-group">
            <label for="modalfile" class="form-label">File input</label>
            <input type="file" id="modalfile3">
            <span class="help-block">Example block-level help text here.</span>
        </div> -->
        <!-- <div class="checkbox">
            <label class="icheck form-label ">
                <input type="checkbox" value="" checked>
                <i></i> Check me out
            </label>
        </div> -->
        <button type="submit" name="wp-submit" id="wp-submit" class="btn btn-primary" ng-click="register()" ng-disabled='form.$invalid'>Sign Up</button>
    </form>
</div>
